<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunjos.searchbubble" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.ClipboardService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <service
            android:name=".services.FloatingBubbleService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" >
        </service>

        <receiver
            android:name=".receivers.BootCompletedBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="ANDROID.INTENT.ACTION.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.TutorialActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeTutorial">
        </activity>

        <activity
            android:name=".activities.AssistActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeTutorial">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>

            <!-- Provide icon for search -->
            <meta-data android:name="com.android.systemui.action_assist_icon"
                android:resource="@mipmap/ic_launcher" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="854b747f72c105dfa832ada223443a5669752cf4" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
